<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/Portfolio/src/controller/mainController.js"></script>
    <title>Code - SoloQuartet</title>
</head>
<body>
    <header id="header">
        <nav>
            <ul class="loadableContent" data-content-name="navbarItems">
                
            </ul>
        </nav>
        <button onclick="toggleNav()">
            <svg width="100" height="100" viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg">
                <polygon points="50,5 5,95 95,95" fill="currentColor" />
            </svg>
        </button>
        <select name="languageSelect" id="languageSelect">
            <option value="French">🇫🇷</option>
            <option value="English">🇬🇧</option>
        </select>
    </header>
    <main>
       <section>
            <article>
                <h2 class="loadableContent" data-content-name="knownLanguages"></h2>
                    <ul class="labelledIconList">
                        <li>
                            <img src="/Portfolio/assets/images/HTML5Icon.png" alt="">
                            <span>HTML</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/CSS3Icon.png" alt="">
                            <span>CSS</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/JavaScriptIcon.png" alt="">
                            <span>JavaScript</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/JavaIcon.png" alt="">
                            <span>Java</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/PSQLIcon.png" alt="">
                            <span>SQL (Postgre)</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/SQLServerIcon.png" alt="">
                            <span>SQL Server</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/XMLIcon.png" alt="">
                            <span>XML</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/CPPIcon.png" alt="">
                            <span>C++</span>
                        </li>
                        <li>
                            <img src="/Portfolio/assets/images/PythonIcon.png" alt="">
                            <span>Python</span>
                        </li>
                    </ul>
                <h2 class="loadableContent" data-content-name="knownFrameworks"></h2>
                    <ul class="labelledIconList">
                        <li>
                            <img src="/Portfolio/assets/images/SymfonyIcon.png" alt="">
                            <span>Symfony</span>
                        </li>
                    </ul>
                <h2 class="loadableContent" data-content-name="usedTools"></h2>
                <ul class="labelledIconList">
                    <li>
                        <img src="/Portfolio/assets/images/GithubIcon.png" alt="">
                        <span>Github</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/VSCodeIcon.png" alt="">
                        <span>Visual Studio Code</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/GrafanaIcon.png" alt="">
                        <span>Grafana</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/SpyderIcon.png" alt="">
                        <span>Spyder</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/AndroidStudioIcon.png" alt="">
                        <span>Android Studio</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/IntellijIdeaIcon.png" alt="">
                        <span>IntelliJ IDEA</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/CLionIcon.png" alt="">
                        <span>CLion</span>
                    </li>
                    <li>
                        <img src="/Portfolio/assets/images/DockerIcon.png" alt="">
                        <span>Docker</span>
                    </li>
                </ul>
            </article>
       </section>
       <section>
            <article class="loadableContent" data-content-name="codingExperience">
            </article>
       </section>
    </main>
    <footer>
        <section class="contact">
            <!--Contact-->
            <h1>Contact</h1>
            <ul>
                <li><a href="mailto:jessy.trapani@etu.univ-grenoble-alpes.fr?body=Bonjour%20monsieur%20Trapani%2C%0A%0A">jessy.trapani@etu.univ-grenoble-alpes.fr</a></li>
            </ul>
        </section>
        <span></span>
        <section class="socials">
            <!--Socials-->
            <h1>Social</h1>
            <ul>
                <li><a href="https://www.youtube.com/@solo-quartet"><img src="/Portfolio/assets/images/YouTubeIcon.png" alt="YouTube"></a></li>
                <li><a href="https://www.twitch.tv/kundarnh"><img src="/Portfolio/assets/images/TwitchIcon.png" alt="Twitch"></a></li>
                <li><a href=""><img src="/Portfolio/assets/images/InstagramIcon.png" alt="Instagram"></a></li>
                <li><a href=""><img src="/Portfolio/assets/images/TikTokIcon.png" alt="TikTok"></a></li>
                <li><a href="https://soundcloud.com/soloquartet"><img src="/Portfolio/assets/images/SoundCloudIcon.png" alt="SoundCloud"></a></li>
                <li><a href=""><img src="/Portfolio/assets/images/SpotifyIcon.png" alt="Spotify"></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>