.foregroundElement {
    position: sticky;
    top: 1rem;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    margin-bottom: -100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-2rem);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.foregroundElement img {
    height: 95%;
    margin-top: -2rem;
}

.foregroundElement span {
    margin-left: 1.5rem;
    max-width: 20rem;
}